{% extends "base.html.twig" %}

{% block body %}
	{% if site == 'edit' %}
		<h2 class="text-center">EDIT STUDENT</h2>
	{% else %}
		<h2 class="text-center">ADD NEW STUDENT</h2>
	{% endif %}
	<div class="container col-md-6 mt-3 mb-3">
		{{ form_start (form) }}
		<div class="form-group">
			{{ form_label (form.name) }}
			{{ form_widget (form.name,
            {
               'attr' : {'class' : 'form-control'}
            })
         }}
		</div>
		<div class="form-group">
			{{ form_label (form.birthday) }}
			{{ form_widget (form.birthday,
            {
               'attr' : {'class' : 'form-control'}
            })
         }}
		</div>
		<div class="form-group">
			{{ form_label (form.email) }}
			{{ form_widget (form.email,
            {
               'attr' : {'class' : 'form-control'}
            })
         }}
		</div>

		<div class="form-group">
			{{ form_label (form.phonenumber) }}
			{{ form_widget (form.phonenumber,
            {
               'attr' : {'class' : 'form-control'}
            })
         }}
		</div>
		{% if site == 'edit' %}
			{% if student.avatar != null %}
				<div><img src="{{ asset('images/'~student.avatar ) }}" width="100" height="120"></div>
			{% endif %}
		{% endif %}
		<div class="form-group">
			{{ form_label (form.avatar) }}
			{{ form_widget (form.avatar,
            {
               'attr' : {'class' : 'form-control'}
            })
         }}
		</div>
		<div class="form-group text-center mt-3">
			<input class="btn btn-primary" type="submit" value="Save">
		</div>
		{{ form_end (form) }}
	</div>
{% endblock %}
