{% extends 'base.html.twig' %}

{% block body %}
	<div>
		<table class="table">
			<thead>
				<tr>
					<th>Student ID</th>
					<th>Student Image</th>
					<th>Student Name</th>
					<th>Birthday</th>
					<th>Email</th>
					<th>Phone Number</th>
					<th>Class</th>
					<th>Actions</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>{{ student.id}}</td>
					<td><img src="{{ asset('images/'~student.avatar) }}" width="100" height="120">
					</td>
					<td>{{ student.name}}</td>
					<td>{{ student.birthday | date('d/m/Y')}}</td>
					<td>{{ student.email}}</td>
					<td>{{ student.phonenumber}}</td>
					<td>
						{% for c in student.courseClasses %}
							<a class="text-decoration-none" href="{{ path('class_detail', {'id' : c.id})}}">{{c.name}}</a>
							<br>
						{% endfor %}
					</td>
					<td>
						<a class="text-decoration-none" href="{{ path('student_edit', {'id': student.id})}}">
							<i class="bi bi-pencil-square"></i>
							{# edit #}
						</a>
						<br>
						<a class="text-decoration-none" href="{{ path('student_delete', {'id': student.id})}}">
							<i class="bi bi-trash"></i>
							{# delete #}
						</a>

					</td>
				</tr>
			</tbody>
		</table>
	</div>
{% endblock %}
